# Entorno virtual
venv/
.conda

# Credenciales
.aws/
credentials
data/**/*.csv

# Data de DVC
/data/raw/
/data/processed/
!*.dvc

`#Carpeta` claude
.claude/

`#Carpeta` caché python para el clasificador
src/classifier/__pycache__/

`#Diario` (Rubén)
src/classifier/tareas/
