services:
  mlflow:
    image: ghcr.io/mlflow/mlflow
    expose:
      - "5000"
    environment:
      - MLFLOW_HTTP_SITES_TRUSTED=*
      - MLFLOW_HTTP_SITES_ALLOW_EVERYTHING=true
    volumes:
      - ./mlflow_data:/mlflow    # fijar mount al EBS
    restart: unless-stopped
    command: >
      mlflow server 
      --host 0.0.0.0 
      --port 5000 
      --backend-store-uri sqlite:///mlflow/mlflow.db 
      --default-artifact-root s3://normabot/artifacts/
      --allowed-hosts "*"
      --static-prefix /mlflow

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - mlflow
    restart: unless-stopped